:root {
    --chess-board-size: 650px;
    --chess-board-image: url(./assets/boards/green.png);
    --highlight-color: #86a666;
    --highlight-alternate: #fff;

    --piece-wK: url(./assets/sprites/staunty/wK.svg);
    --piece-wN: url(./assets/sprites/staunty/wN.svg);
    --piece-wB: url(./assets/sprites/staunty/wB.svg);
    --piece-wR: url(./assets/sprites/staunty/wR.svg);
    --piece-wQ: url(./assets/sprites/staunty/wQ.svg);
    --piece-wP: url(./assets/sprites/staunty/wP.svg);
    --piece-bK: url(./assets/sprites/staunty/bK.svg);
    --piece-bN: url(./assets/sprites/staunty/bN.svg);
    --piece-bB: url(./assets/sprites/staunty/bB.svg);
    --piece-bR: url(./assets/sprites/staunty/bR.svg);
    --piece-bQ: url(./assets/sprites/staunty/bQ.svg);
    --piece-bP: url(./assets/sprites/staunty/bP.svg);
}

body {
  margin: 0;
}

.chess-game {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 32, 32);
    border-radius: 20px;
    margin-top: 40px;
}

.chess-board {
    width: 100%;
    position: relative;
    background-size: 100%;
    background-image: var(--chess-board-image);
    aspect-ratio: 1;
    border-radius: 10px;
}

.sidebar-tab-content-inactive {
  display: none;
}

.on-chess-grid {
    width: 12.5%;
    height: 12.5%;
    position: absolute;
    left: 0;
    right: 0;
}

.chess-hint {
    display: grid;
    place-items: center;
    z-index: 1;
    cursor: pointer;
}

.chess-hint-dot {
    width: 25%;
    height: 25%;
    background-color: #5c5c5c9f;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.chess-hint-circle {
    width: 100%;
    height: 100%;
    border: 6px solid #5c5c5c9f;
    box-sizing: border-box;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

/* Sidebar Styles */

.chess-sidebar {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 100%;
}

.sidebar-tab {
  background-color: #3636368c !important;
  font-size: 1.4rem !important;
  font-weight: 500 !important;
}

.chess-sidebar button {
  background-color: var(--highlight-color);
  color: var(--highlight-alternate);
  font-size: 1.5em;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}

.load-game-form {
    display: flex;
}

.game-input-field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.game-input-field textarea {
  background-color: #0e0e0e5e;
  color: #cecece;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 10px;
  width: 100%;
  resize: vertical;
  box-sizing: border-box;
}

/* Chess Piece Sprites */

.chess-piece {
    background-size: 100%;
    background-repeat: no-repeat;
    background-clip: content-box;
    z-index: 1;
    cursor: grab;
    transition: transform 0.15s;
}

/* Styles for each individual piece */

.sprite-wP {
    background-image: var(--piece-wP);
}

.sprite-wN {
    background-image: var(--piece-wN);
}

.sprite-wB {
    background-image: var(--piece-wB);
}

.sprite-wR {
    background-image: var(--piece-wR);
}

.sprite-wQ {
    background-image: var(--piece-wQ);
}

.sprite-wK {
    background-image: var(--piece-wK);
}

.sprite-bP {
    background-image: var(--piece-bP);
}

.sprite-bN {
    background-image: var(--piece-bN);
}

.sprite-bB {
    background-image: var(--piece-bB);
}

.sprite-bR {
    background-image: var(--piece-bR);
}

.sprite-bQ {
    background-image: var(--piece-bQ);
}

.sprite-bK {
    background-image: var(--piece-bK);
}

@media screen and (min-width: 700px) {
  .chess-board {
    width: var(--chess-board-size);
    margin: 20px;
  }

  .chess-sidebar {
    width: 33.333%;
  }

  .chess-sidebar button {
    padding: 5px 15px;
  }

  .chess-game {
    margin: auto;
    margin-top: 20px;
    width: fit-content;
  }

  .chess-sidebar {
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .chess-game {
    flex-direction: row;
    align-items: normal;
  }

  .chess-sidebar {
    margin: 20px;
    margin-left: 0;
  }
}

/* Square Transforms */

.square-a1 {
    transform: translateY(700%);
}
.square-a2 {
    transform: translateY(600%);
}
.square-a3 {
    transform: translateY(500%);
}
.square-a4 {
    transform: translateY(400%);
}
.square-a5 {
    transform: translateY(300%);
}
.square-a6 {
    transform: translateY(200%);
}
.square-a7 {
    transform: translateY(100%);
}

.square-b1 {
    transform: translate(100%, 700%);
}
.square-b2 {
    transform: translate(100%, 600%);
}
.square-b3 {
    transform: translate(100%, 500%);
}
.square-b4 {
    transform: translate(100%, 400%);
}
.square-b5 {
    transform: translate(100%, 300%);
}
.square-b6 {
    transform: translate(100%, 200%);
}
.square-b7 {
    transform: translate(100%, 100%);
}
.square-b8 {
    transform: translate(100%, 0%);
}

.square-c1 {
    transform: translate(200%, 700%);
}
.square-c2 {
    transform: translate(200%, 600%);
}
.square-c3 {
    transform: translate(200%, 500%);
}
.square-c4 {
    transform: translate(200%, 400%);
}
.square-c5 {
    transform: translate(200%, 300%);
}
.square-c6 {
    transform: translate(200%, 200%);
}
.square-c7 {
    transform: translate(200%, 100%);
}
.square-c8 {
    transform: translate(200%, 0%);
}

.square-d1 {
    transform: translate(300%, 700%);
}
.square-d2 {
    transform: translate(300%, 600%);
}
.square-d3 {
    transform: translate(300%, 500%);
}
.square-d4 {
    transform: translate(300%, 400%);
}
.square-d5 {
    transform: translate(300%, 300%);
}
.square-d6 {
    transform: translate(300%, 200%);
}
.square-d7 {
    transform: translate(300%, 100%);
}
.square-d8 {
    transform: translate(300%, 0%);
}

.square-e1 {
    transform: translate(400%, 700%);
}
.square-e2 {
    transform: translate(400%, 600%);
}
.square-e3 {
    transform: translate(400%, 500%);
}
.square-e4 {
    transform: translate(400%, 400%);
}
.square-e5 {
    transform: translate(400%, 300%);
}
.square-e6 {
    transform: translate(400%, 200%);
}
.square-e7 {
    transform: translate(400%, 100%);
}
.square-e8 {
    transform: translate(400%, 0%);
}

.square-f1 {
    transform: translate(500%, 700%);
}
.square-f2 {
    transform: translate(500%, 600%);
}
.square-f3 {
    transform: translate(500%, 500%);
}
.square-f4 {
    transform: translate(500%, 400%);
}
.square-f5 {
    transform: translate(500%, 300%);
}
.square-f6 {
    transform: translate(500%, 200%);
}
.square-f7 {
    transform: translate(500%, 100%);
}
.square-f8 {
    transform: translate(500%, 0%);
}

.square-g1 {
    transform: translate(600%, 700%);
}
.square-g2 {
    transform: translate(600%, 600%);
}
.square-g3 {
    transform: translate(600%, 500%);
}
.square-g4 {
    transform: translate(600%, 400%);
}
.square-g5 {
    transform: translate(600%, 300%);
}
.square-g6 {
    transform: translate(600%, 200%);
}
.square-g7 {
    transform: translate(600%, 100%);
}
.square-g8 {
    transform: translate(600%, 0%);
}

.square-h1 {
    transform: translate(700%, 700%);
}
.square-h2 {
    transform: translate(700%, 600%);
}
.square-h3 {
    transform: translate(700%, 500%);
}
.square-h4 {
    transform: translate(700%, 400%);
}
.square-h5 {
    transform: translate(700%, 300%);
}
.square-h6 {
    transform: translate(700%, 200%);
}
.square-h7 {
    transform: translate(700%, 100%);
}
.square-h8 {
    transform: translate(700%, 0%);
}
